<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error Page Image Manipulation App</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">

            <h3 class="text-muted">An error occurred</h3>
        </div>

        <div class="jumbotron">
            <h2 class="text-muted"> {{ message }} </h2>
	               </div>


    </div>
</body>

</html>
