<!DOCTYPE html>
<html lang="en">

<head>
    <title>COVID CXR Analysis</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <link href="../static/jumbotron-narrow.css" rel="stylesheet">

    <link href="../static/style.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">

            <h3 class="text-muted">AI-Based COVID-19 Analysis API</h3>
        </div>

        <div class="jumbotron">
            <h1>COVID-19 CXR Analysis</h1>
            <p class="lead"></p>
            <form method="post" action="{{ url_for('upload') }}" enctype="multipart/form-data">
              <div>
                <label for="file">Choose a dicom Chest X-Ray file to upload</label>
                <input type="file" id="file" name="file" multiple>
              </div>
              <div>
                <button>Upload and Analyze</button>
              </div>
            </form>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Key point to be considered:</h4>
                <p>This analysis provides likelihood of COVID-19 infection and corresponding regions
                    in lungs, using sophisticated AI Analysis.
                    Kindly correlate and refer with a clinician for detailed feedback.</p>
            </div>
        </div>


    </div>
</body>

</html>
